.guia {
    padding: 2%;
    background-color: rgb(250, 250, 250);
    line-height: 2;
    text-align: justify;
}

.guia strong {
    color: rgb(255, 155, 0);
}

.classicon {
    border: 2px solid rgb(255, 155, 0);
    border-radius: 50%;
    max-width: 48px;
}

.classes {
    display: flex;
    text-align: center;
    align-items: center;
}

.classes div {
    border-style: none none none inset;
    border-color: rgb(58, 69, 226);
    border-width: 5px;
    border-radius: 20px;
    color: white;
    padding: 30px;
    background-color: rgb(58, 69, 226);
    width: 300px;
    height: 100px;
    margin: 10px 10px;
    transition: 1s;
    user-select: none;
}


.classes div:hover {
    border-color: black;
    color: blue;
    background-color: white;
}

